.container {
  height: 10%;
  width: 100%;
}

.weather-box img{
  width: 5%;
  margin-top: 5px;
}
.weather-box{
  text-align: center;
}

.weather-box .temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description{
  color: #06283D;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.weather-details .humidity, .weather-details .wind{
  display: flex;
  align-items: top;
  width: 50%;
  height: 50px;
}

.weather-details .humidity{
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind{
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i{
  color: #06283D;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

.weather-details span{
  color: #06283D;
  font-size: 22px;
  font-weight: 500;
}
