div.weather-section div {
  display: inline-block;
  padding: 1%;  
}

div.icon-style  {
  width: 20%;
}

.images-items {
  width: 4%;
}

div.images-items img {
  width: 30px;
}

@media only screen and (max-width: 1550px) {
  div span {
    font-size: 12px;
  }
  div.weather-section div {
    padding: 0.5%;
  }
}
@media only screen and (max-width: 600px) { 
  div span {
    font-size: 10px;
  }
  div.weather-section div {
    padding: 0.5%;
  }
}
@media only screen and (max-width: 445px) { 
  div span {
    font-size: 9px;
  }
  div span.bold {
    font-size: 8px;
  }
  div.weather-section div {
    padding: 0.2%;
  }
}
