.Navbar{
    background: #03ae12;  
    position: sticky;
    top: -2px;
    z-index: 99999999;
    width: 100%;
}

.Navbar #basic-nav-dropdown, .Navbar .nav-link{
    color: black !important;
    font-size: 17px !important;
}

.change-postion {
    margin-right: -330px; 
    margin-left:185px;
}

@media (max-width: 599px) {
    .Navbar{
        z-index: 900;
    }
}
